body {
    background-color: #8180A4;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    align-content: center;
}
h2 {
    font-size: 20px;
}
a:visited {
    color: pink;
}
a {
    text-decoration: none;
}
a:active {
    color: gray;
}
nav a:hover {
    background-color: gray;
    
    
}

a:hover {
    color: white;
}

nav a {
    padding: 14px;
   
}
p {
    font-family:'Lato', sans-serif;
}
/* Mobile   */










@media screen and (min-width: 200px) {




/* Home */
.wrapper {
display: grid;
grid-template-areas:
"nav nav"
"header header"
"main-1 main-1"
"contacts contacts"
"footer footer";
grid-template-columns: (2, 1fr);
max-width: 360px;
margin: 0 auto;
box-sizing: border-box;
max-height:  1960px;
background-color: #5C5363;
border: solid 1px rgb(19, 19, 41);
}
 .works {
     display: none;
}
nav {
    grid-area: nav;
    height: 50px;
    margin: 0px;
    opacity: 50%;
    width: 100%;
    display:flex;
    background-color: rgb(131, 121, 108);
    overflow: hidden;
    width: 360px;
    top: 0;
}
.logo {
    flex: 1;
    
    opacity: 60%;
}
.navbar-button {
    
    flex: 0;
    order: 3,
  
}



header {
    grid-area: header;
    background-color: rgb(66, 99, 136);
    background-image: url(/images/banner-909710_1920.jpg);
    display:flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    height: 645px;
    
}
    .header-box-1 {
    flex:1;
    text-align: center;
   }
   .header-box-1 h2 {
       position: relative;
       top: 60%;
   }
   
   .header-box-2 {
   flex:1;
   }
   .header-box-2 h1 {
       font-size: 42px;
   }
   .header-box-2 h2 {
       display: flex;
       justify-content: center;
       position: relative;
       bottom: 10%;
   }
   .header-box-3 {
    
   flex:1;
   }
   .header-box-3 h2 {
       
       position: relative;
       bottom: 40%;
   }
   .header-box-3 .header-png-box {
       justify-content: center;
       display: flex;
       position: relative;
       top: 20px;
   }

main {
    grid-area: main-1;
   background-color: rgb(43, 57, 70);
   display: flex;
   flex-direction: column;
   height: 100%;
   max-height: 100%;
   margin: 10px;
   margin-top:0px;
   
}
.main-box-1 {
 
 flex: 1;
}
.main-box-1 .h3 {
    justify-content: center;
    display: flex;
   
}

.main-img-box {
    justify-content: center;
    
    position: relative;
    display:flex
}
.main-img-box img {
    justify-self: center;
    position: relative;
    border-radius: 50%;
    border-color: rgb(42, 50, 56);
    border: solid 2px;
    margin-top: 5px;
}
.main-text-1 {
    width:80%;
    height: 100px;
    background-color: rgb(66, 71, 82);
    position: relative;
    justify-self: center;
    display: flex;
    border-radius: 30px;
    margin-left: 10%;
    bottom: 20px;
}
.main-text-1 p {
    position: relative;
    left:5%;
    font-size: 13px;
}

.main-box-3 {
 
 flex: 1;
}


.main-box-2 {

flex: 1;
display: flex;
flex-direction: column;

}
.main-box-2 .h3 {
    justify-content: center;
    display: flex;
   
}
.png-main-2 {
    justify-content: center;
    
    position: relative;
    display:flex
}
.png-main-2 img {
    justify-self: center;
    position: relative;
    top: 20px;
}
.main-text-2 {
    width: 275px;
    height: 100px;
    background-color: rgb(66, 71, 82);
    position: relative;
    justify-self: center;
    display: flex;
    border-radius: 30px;
    margin-left: 10%;
    bottom: 20px;
}
.main-text-2 p {
    position: relative;
    left:5%;
    font-size: 13px;
}

.main-box-3 {

 flex: 1;
}


.main-box-3 .h3 {
    justify-content: center;
    display: flex;
  
}
.png-main-3 {
    justify-content: center;
   
    position: relative;
    display:flex
}
.png-main-3 img {
    justify-self: center;
    position: relative;
    top: 20px;
}
.main-text-3 {
    width: 80%;
    height: 100px;
    background-color: rgb(66, 71, 82);
    position: relative;
    justify-self: center;
    display: flex;
    border-radius: 30px;
    margin-left: 10%;
    bottom: 20px;
}
.main-text-3 p {
    position: relative;
   font-size: 13px;
   left:5%;
}

.main-box-4 {
   
    flex: 1;
}
.main-box-4 .h3 {
    justify-content: center;
    display: flex;
   
}
.png-main-4 {
    justify-content: center;
    position: relative;
    display:flex
}
.png-main-4 img {
    position: relative;
    top: 20px;
}
.main-text-4 {
    width: 80%;
    height: 100px;
    background-color: rgb(66, 71, 82);
    position: relative;
    justify-self: center;
    display: flex;
    border-radius: 30px;
    bottom: 20px;
    margin-left: 10%;
}
.main-text-4 p {
    position: relative;
    font-size: 13px;
    left:5%;
}

.contacts {
    grid-area: contacts;
    background-color: rgb(72, 100, 91);
    max-height: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px;
    border-color: rgb(14, 14, 39);
  
    
}
.contacts-upper {
 
 justify-content: center;
 display: flex;
 flex-direction: column;
}
.contacts-png {
   flex:1;
   justify-content: center;
   position: relative;
   display: flex;
    
}
.contacts-png img {
    
    position: relative;
}

.contacts-upper h2 {
    display: flex;
    justify-content: center;
    flex: 1;
}
.contacts-under {
    
    display: flex;
   
}
.contacts-contact {
    
    flex:1;
    display: flex;
    flex-flow: row;
    
    
}
.email {
    flex: 1;
    
    display: flex;
    flex-direction: column;
}
.email img {
   flex: 0;
   position: relative;
   
}
.email h4 {
    position: relative;
   top: 25%;
}
.call {
    flex: 2;
    
    display: flex;
    flex-direction: column;
}
.call h4 {
    position: relative;
    top: 25%;
}
.call img {
    flex: 0;
    position: relative;
    top: 4%;
}

.contacts-social-media {
    order: 2;
    flex:1;
  
}

.social-media {
    display: flex;
    flex-direction: row;
    position: relative;
    float: right;
}
.contacts-social-media h3 {
    position: relative;
    top: 10%;
    float: right;
    
}


footer {
    grid-area: footer;
    background-color: #584F5C;
    height: 70px;
    margin-top: 0px;

    
    
}

/* Contacts  (finder)*/

@media screen and (min-width: 200px) {.contacts-page-container {
    display: grid;
    grid-template-areas: "nav nav"
    "main-contacts main-contacts"
    "contacts-under contacts-under"
    "footer footer";
    box-sizing: border-box;
    grid-template-columns: (2, 1fr);
    max-width: 360px;
    margin: 0 auto;
    max-height: 1200px;
    background-color: #5C5363;
    
        
}
.h2-special  {
    display: none;
    font-size: 50px;
}
.main-page-contacts {
    background-color: rgb(74, 104, 139);
    grid-area: main-contacts;
    display: flex;
    flex-direction: column;
    
    height: 650px;
    
    
    

}
.contacts-page-1 {
    background-color: rgb(108, 101, 114);
    flex:0.5;
    height: 33em;
    text-align: center;
    
    
}
.contacts-page-2 {
   
    flex:2;
    height: 33em;
   
}
.contacts-page-3 {
    
    flex:0.5;
    margin: auto;
   text-align: center;
  

}

.main-contacts-under {
    background-color: rgb(89, 110, 129);
    grid-area: contacts-under;
    max-height: 500px;
    display: flex;
    flex-direction: column;
}

.contacts-page-under-1 {
    background-color: rgb(83, 104, 96);
    grid-area:contacts-under-1;
    flex:0.9;
    text-align: center;
    
   
}


   


}
.contacts-page-under-2  {
    background-color: rgb(34, 14, 73);
    grid-area:contacts-under-3;
    height: 10%;
    flex:0.4;
    padding: 10px;
    

}
.contacts-page-under-2 ul {
    display: inline;
    
}

}

/* works mobile  */
@media screen and (min-width: 200px) {.works-container {
    display: grid;
    grid-template-areas: "nav nav"
    "works-1 works-1"
    "works-2 works-2"
    "arrow-1 arrow-1"
    "works-3 works-3"
    "arrow-2 arrow-2"
    "works-4 works-4"
    "works-5 works-5"
    "footer footer";
    box-sizing: border-box;
    grid-template-columns: (2, 1fr);
    max-width: 360px;
    margin: 0 auto;
    width: 360px;
    
    background-color: #5C5363;

}
.works-1 {
  background-color: aqua;
  grid-area: works-1;
  height: 580px;
  text-align: center;
  background-image: url(/images/banner-mobile-works.jpg);
  
 
  
   
}

.works-2 {
    background-color: rgb(68, 90, 90);
    grid-area: works-2;
    height: 480px;
    
}

.work-example-1 {
    height: 480px;
   background-image: url(/images/example-1.jpg);
    margin: 30px;
    background-size: 300px 480px;
    background-repeat: no-repeat;
    border: solid rgb(13, 21, 37);
    
  
   
}
.arrow-1 img{
    height: 70px;
    width: 70px;
    position: relative;
    left: 40%;
    
    
}
.arrow-2 img{
    height: 70px;
    width: 70px;
    position: relative;
    left: 40%;
   
}
.arrow-2 {
    grid-area: arrow-2;
    background-color: crimson;
   
}
.arrow-1 {
    grid-area:arrow-1;
    background-color: forestgreen;
    
    
}
.works-3 {
    background-color: rgb(33, 68, 68);
    grid-area: works-3;
    height: 480px;
}
.work-example-2 {
    height: 480px;
    background-image: url(/images/example-2.png);
    margin: 30px;
    background-size: 300px 480px;
    background-repeat: no-repeat;
    border: solid rgb(13, 21, 37);
}
.works-4 {
    background-color: rgb(19, 37, 37);
    grid-area: works-4;
    height: 400px;
   
}
.work-example-3 {
    height: 480px;
    background-image: url(/images/example-3.jpg);
    margin: 30px;
    background-size: 300px 480px;
    background-repeat: no-repeat;
    border: solid rgb(13, 21, 37);
}
.works-5 {
    background-color: rgb(34, 14, 73);
    grid-area: works-5;
    display: flex;
    justify-content: center;
    
}
}
@media screen and (min-width: 760px) {
    .wrapper {

   grid-template-areas: "nav nav nav nav"
   "header header header header"
   "main-1 main-1 main-1 main-1"
   "contacts contacts contacts contacts"
   "footer footer footer footer";
   max-width: 980px;
   display: grid;
   max-height: 1900px;
   grid-template-columns: (6,1fr);
   margin: 0 auto;
   box-sizing: border-box;
   background-color: #5C5363;


}

nav {
    grid-area: nav;
   width: 980px;
   top: 0;
    

}
header {
    grid-area: header;
    background-color: rgb(25, 25, 44);
    
    height: 600px;
    
}

}
@media screen and (min-width: 760px) { main {
    grid-area: main-1;
    background-color: #5C5363;
    width: 960px;
    display: grid;
    grid-auto-columns: repeat(6,1fr);
    grid-template-areas: "box-1 box-1 box-1 works works works"
    "box-2 box-2 box-3 box-3 box-4 box-4";
    height: 600px;
    margin: 0;
   
}
.main-box-1 {
    background-color: rgb(39, 66, 57);
    grid-area: box-1;
    
    display: flex;
    flex-direction: column;
    
    
}
.main-box-1 h3 {
    justify-content: center;
    display: flex;
    position: relative;
    
    color: white;
   
}
.main-box-2 h3 {
    justify-content: center;
    display: flex;
    position: relative;
    
    color: white;
   
}
.main-box-3 h3 {
    justify-content: center;
    display: flex;
    position: relative;
    
    color: white;
   
}
.main-box-4 h3 {
    justify-content: center;
    display: flex;
    position: relative;
    
    color: white;
   
}
.main-box-1 img {
    margin-top: 5%;
}
.main-text-1 {
    position: relative;
    top:5%;
  
    
}
.main-text-1 p {
    
    margin-bottom: 5px;
    
    margin-right: 5px;
}
.main-text-2 {
    position: relative;
    right: 2%;
    
   
}
.main-text-2 p {
    
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.main-text-3 {
    position: relative;
    margin-top: 5px;
    
    margin: auto;
}
.main-text-3 p {
    
    margin-bottom: 5px;
    
    margin-right: 5px;
}
.main-text-4 {
    position: relative;
    margin-top: 5px;
    
    margin: auto;
}
.main-text-4 p {
    
    margin-bottom: 5px;
   
    margin-right: 5px;
}
.main-box-2 {
    background-color: rgb(100, 128, 128);
    grid-area: box-2;
    width: 325px;
    
}
.main-box-3 {
    background-color: rgb(67, 109, 95);
    grid-area: box-3;
    width: 325px;
}
.main-box-4 {
    background-color: rgb(109, 139, 135);
    grid-area: box-4;
    width: 325px;
    
}

.contacts {
    background-color: #4D545A;
    grid-area: contacts;
    max-height: 180px;
    margin: 0;
    display: flex;
   
    
}
.contacts-contact {
    max-width: 100px;
    
}

.email h4 {
   display: none;
}
.contacts-upper {
    height: 75px;
}

.contacts-contact img{
    position: relative;
    top: 30px;
    
}
.contacts-png img {
   display: none;
    
}

.contacts-contact {
    
    
    max-height: 100px;
    position: relative;
    bottom: 5px;
    left: 5px;
}
.social-media {
    float: right;
   position: relative;
   bottom: 30px;
   

}
.contacts h2 {
    position: relative;
    margin-bottom: 60px;
}
.call{
   position: relative;
   top: 5px;
   left: 5px;
}
.call h4 {
     display: none;
    height: 13px;   
}
.contacts-under {
    display: flex;
    position: relative;
    flex-direction: column;
    max-height: 75px;
    
}
@media screen and (min-width: 760px) {  .works {
    grid-area: works;
    background-color: rgb(110, 139, 172);
    width: 100%;
     visibility: initial;
     display: flex;
     flex-direction: column;
     margin: 0;
     
     
     
    }
.works-img {
    background-color: rgb(39, 116, 90);
    
    

}
.works-img img {
    left: 13%;
    position: relative;
    flex: 1;
    
    
    
    
    
}
.works-text {
    background-color: rgb(39, 116, 90);
    text-align: center;
    flex: 1;
    
    
}
.works-text h2 {
    font-size: 28px;
    position: relative;
    top: 40%;
}



/* Contacts (finder)*/

@media screen and (min-width: 760px) {.contacts-page-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    grid-template-columns: (4, 1fr);
    max-width: 960px;
    margin: 0 auto;
    max-height: 1200px;
    background-color: #5C5363;
        
}
fieldset {
    width: 40%;
   float: right;
    padding-left: 30px;
    
}

fieldset button {
margin-right: 17%;
}
.main-page-contacts {
    background-color: darkgrey;
    grid-area: main-contacts;
    display: flex;
    flex-direction: column;
    
    height: 650px;
    
    
    

}
.move {
    position: relative;
    bottom: 50px;
}
} 
.move label {
    position: relative;
    bottom: 30px;
}
.contacts-page-1 {
    background-color: rgb(108, 101, 114);
    flex:0.5;
    height: 33em;
    text-align: center;
    
    
}
.contacts-page-2 {
    background-color:rgb(74, 104, 139);
    flex:2;
    height: 33em;
    display: flex;
    flex-direction: column;
   
}
.special-contact {
    background-image: url(/images/avatar-2191932_1920.png);
    position: relative;
    background-size: 480px 352px;
    background-repeat: no-repeat;
   width: 450px;
   height: 346px;
    margin: 10%;
    right: 5%;
    border: solid 3px;  
    
}

.contacts-page-3 {
   
    flex:0.5;
    margin: auto;
   text-align: center;
   display: none;
  

}

.main-contacts-under {
    background-color: rgb(34, 14, 73);
    grid-area: contacts-under;
    max-height: 500px;
    display: flex;
    flex-direction: column;
}

.contacts-page-under-1 {
    background-color: rgb(83, 104, 96);
    grid-area:contacts-under-1;
    float: 1px;
    text-align: center;
    max-height: 99px;
    
    
   
}

}
.contacts-page-under-2  {
    background-color: rgb(34, 14, 73);
    grid-area:contacts-under-3;
    height: 10%;
    flex:0.4;
    padding: 10px;
   margin: 0 auto;
    

}
.contacts-page-under-2 ul {
    display: inline;
    
}


@media screen and (min-width: 760px) {
.works-container {
    box-sizing: border-box;
    grid-template-columns: (6, 1fr);
    grid-template-areas: "nav nav nav nav nav nav"
    "works-1 works-1 works-1 works-1 works-1 works-1"
    "works-2 works-2 works-3 works-3 works-4 works-4"
    "works-5 works-5 works-5 works-5 works-5 works-5"
    "footer footer footer footer footer footer";
    max-width: 1960px;
    margin: 0 auto;
    width: 960px;
    display:grid;
    background-color: #5C5363;


}
nav {
    position: relative;
}
.h2-special {
    text-align: center;
}
h3 {
    display: none;
}
h2 {
    position: relative;
    top: 15%;
    font-size: 28px;
}


.works-1 {
    background-color: aqua;
    grid-area: works-1;
    height: 300px;
    text-align: center;
    background-image: url(/images/flowers.jpg);
    border: solid 2px;
    border-top: 0;
    border-color:  rgb(18, 18, 19);
     background-size: 980px 330px;
  }
  
  .works-2 {
      background-color: #5C6B78;
      grid-area: works-2;
      height: 360px;
      padding-bottom: 40px;
      
  }
  .work-example-1 {
      height: 330px;
      background-color: red;
      margin: 30px;
      
  }
  .arrow-1 img{
      height: 70px;
      width: 70px;
      position: relative;
      left: 40%;
      display: none;
      
      
  }
  .arrow-2 img{
      height: 70px;
      width: 70px;
      position: relative;
      left: 40%;
      display: none;
     
  }
  .arrow-2 {
      grid-area: arrow-2;
      background-color: crimson;
      display: none;
     
  }
  .arrow-1 {
      grid-area:arrow-1;
      background-color: forestgreen;
      display:none;
      
      
  }
  .works-3 {
      background-color: #5C6B78;
      grid-area: works-3;
      height: 360px;
      padding-bottom: 40px;
      
      

  }
  .work-example-2 {
      height: 330px;
      background-color: red;
      margin: 30px;
  }
  .works-4 {
      background-color: #5C6B78;
      grid-area: works-4;
      height: 360px;
      padding-bottom: 40px;
     
  }
  .work-example-3 {
      height: 330px;
      background-color: red;
      margin: 30px;
  }
  .works-5 {
      background-color: rgb(34, 12, 77);
      grid-area: works-5;
      display: flex;
      justify-content: center;
     
  }

}



}


